$primary: #282631 !default;
$darkPrimary: #1e1d25 !default;
$darkPrimary2: #19181e !default;
$darkPrimary3: #121119 !default;
$lightPrimary: #b7b7b7 !default;
$accent: #ea5a5a !default;
$text: #d3d2da !default;
$darkText: #4c4c4c !default;
$lightText: #cfcfcf !default;
$white: #ffffff !default;
